[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
sklearn = "*"
scikit-image = "*"
matplotlib = "*"
rasterio = "*"
scikit-learn = "*"

[pipenv]
allow_prereleases = true
